<!DOCTYPE html>
<html lang = "zh-CN">
    <head>
        <title> algo </title>
        <meta charset = "utf-8">
        {% load static %}
        <link rel = "stylesheet" type = "text/css" href = "{% static 'algo/index_style.css' %}">

        <link rel = "stylesheet" type = "text/css" href = "{% static 'algo/write_sol.css' %}">

    </head>
    <body>
        <div id = "algo_page">

            {% include 'algo/nav.html'%}

            <hr class = "hr_top">
            <div>
                <form method = "POST" action = "/algo/sol_update" >
                {% csrf_token %}
                <div>
                    <div>
                        <input name = "sol_id" value = "{{ sol.pk }}" required>
                        <input name = "question_id" type = "number" placeholder = "题号" value = "{{ sol.qid }}" required>
                        <input name = "title" type = "text" placeholder = "标题" value = "{{ sol.title }}" required>
                        <select name = "level" required>
                            <option value = "0" {% if sol.level == 0 %} selected {% endif %}> 简单 </option>
                            <option value = "1" {% if sol.level == 1 %} selected {% endif %}> 中等 </option>
                            <option value = "2" {% if sol.level == 2 %} selected {% endif %}> 困难 </option>
                        </select>
                        <input name = "source_link" type = "url" placeholder="题目链接" value = "{{ sol.source_link }}" required>
                    </div>
                </div>

                {% include "algo/markdown.html" %}

                <div class = "btn_write_sol_form">
                    <button type = "submit" onclick = "on_submit"> 提交 </button>
                </div>
                </form>
            </div>
        </div>
        
        
    </body> 
    
    <script>
        var sol_content = {{ content | safe}};
        mark.getDoc().setValue(sol_content);
    </script>
</html>