<!DOCTYPE html>
<html lang = "zh-CN">
    <head>
        <title> algo </title>
        <meta charset = "utf-8">
        {% load static %}
        <link rel = "stylesheet" type = "text/css" href = "{% static 'algo/index_style.css' %}">
        <link rel = "stylesheet" type = "text/css" href = "{% static 'algo/solution.css' %}">

    </head>
    <body>
        <div id = "algo_page">

            {% include 'algo/nav.html'%}

           
            
            <div id = "" class = "sol">
                <div class = "sol_head">
                    <div class = "div_search">
                        <div class = "div_input">
                            <input type = "text" name = "search" class = "input_search" placeholder = "搜索题号, 标题">
                        </div>
                        <span class = "span_btn">
                            <button  type = "submit"></button>
                        </span>
                    </div>
                    <div class = "write_sol">
                        <a href = "{% url 'algo:write_sol' %}" > 写题解 </a>
                    </div>
                </div>
                
                <div >
                    <table  class = "sol_table">
                        <thead>
                            <tr> 
                                <th>标题</th>
                                <th>作者</th>
                                <th>难度</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sol in sol_list %}
                            <tr>
                                <td >
                                    <a href="{% url 'algo:solution_item' sol.pk %}">{{ sol.title }} </a>
                                </td>
                                <td> {{ sol.author_id.user_name }} </td>
                                <td class = "
                                    {% if sol.level == 0 %}
                                        easy
                                    {% elif sol.level == 1 %}
                                        middle
                                    {% elif sol.level == 2 %}
                                        hard
                                    {% endif %}
                                    ">
                                    {% if sol.level == 0 %}
                                        简单
                                    {% elif sol.level == 1 %}
                                        中等
                                    {% elif sol.level == 2 %}
                                        困难
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        
        
    </body> 
</html>