.nav_top {
    margin :  10px 10px 10px 10px;
}
.nav_top div {
    display: block;
    height: auto;
    padding-bottom: 0;
    overflow: visible;
}
.ul_top li {
    padding : 0px 10px 10px 50px;
    margin :  0px 10px 10px 50px;
    float : left;
    list-style-type: none;
}
.ul_top li a {
    color :#000000;
    text-decoration : none;
}
.ul_top li a:hover{
    color : #CECECE;
    text-decoration : none;
}
.ul_lg {
    margin-left : 80%;
}
.ul_lg li {
    list-style-type: none;
}
.ul_lg li a{
    color : #000000;
    text-decoration : none;
}
.ul_lg li  a:hover{
    color : #CECECE;
    text-decoration : none;
}
.hr_top {
    width : 100%;
    margin : 5px 0 0 5px;
}
.div_question{
    width : 1400px;
    margin : 20px 50px 10px 50px;
}
.div_search{
    width : 700px;
    height : 40px;
    margin-left : 10px;
    margin-bottom: 10px;
}
.input_search {
    width : 625px;
    height : 32px;
    margin-bottom: 5px;
}
.div_search span {
    float : right;
}
.span_input {
    width : 32px;
    height : 32px;
}
.span_btn {
    width : 32px;
    height: 32px;
    position: relative;
}
.btn_search {
    width : 32px;
    height: 32px;
    background : url("search.svg") no-repeat;
    border-style : none;
}
.btn_search:hover {
    width : 32px;
    height: 32px;
    background : url("search_on.svg") no-repeat;
    border-style : none;
}
.btn_search:focus {
    width : 32px;
    height: 32px;
    border-style : none;
    outline : none;
}

.table_question{
    width : 1000px;
    border-collapse:collapse;
    
}
.table_question td{
    height :30px;
    text-align : center;
    background-color: #FCF9F9;
    border-bottom: 1px solid #cac2c1;
}
.q_td1 {
    width : 50px;
}
.q_td2 {
    width : 50px;
}
.q_td3 {
    width : 600px;
}
.q_td3 a {
    color :#000000;
    text-decoration : none;
}
.q_td3 a:hover {
    color :#9BC5F2;
    text-decoration : none;
}
.q_td4_s {
    width : 50px;
    color : #34E521;
}
.q_td4_m {
    width : 50px;
    color : #ECAE49;
}
.q_td4_h {
    width : 50px;
    color : #F61F02;
}