.div_question{
    width : 80%;
    margin : 20px 10% 20px 10%;
}
.div_search{
    width : 60%;
    height : 40px;
    margin-left : 10px;
    margin-bottom: 10px;
}
.input_search {
    width : 400px;
    height : 20px;
    margin-bottom: 5px;
    border-radius: 30px;
    border: 1px solid #7C7777;
}
.input_search:focus {
    box-shadow: 0 0 15px #03a9f4; 
    outline: none;
}

.div_search {
    display: flex;
}
.div_input {
    width : 32px;
    height : 32px;
    margin-left: 0px;
}
.span_btn {
    width : 16px;
    height: 16px;
    margin-left: 63%;
}
.span_btn button {
    width : 16px;
    height: 16px;
    background : url("img/search.svg") no-repeat;
    border-style : none;
}

.span_btn button:hover {
    background : url("img/search_hov.svg") no-repeat;
    border-style : none;
}
.span_btn button:focus {
    outline : none;
}

.table_question{
    width : 100%;
    border-collapse: collapse;
}
.table_question td{
    height: 30px;
    text-align : center;
    background-color: #FCF9F9;
    border-bottom: 1px solid #cac2c1;
}
.q_td1 {
    width : 50px;
}
.q_td2 {
    width : 50px;
}
.q_td3 {
    width : 600px;
}
.q_td3 a {
    color :#000000;
    text-decoration : none;
}
.q_td3 a:hover {
    color :#9BC5F2;
    text-decoration : none;
}
.q_td4_s {
    width : 50px;
    color : #34E521;
}
.q_td4_m {
    width : 50px;
    color : #ECAE49;
}
.q_td4_h {
    width : 50px;
    color : #F61F02;
}

.sol_vote {
    align-items: center; 
}

