a {
    color :#000000;
    text-decoration : none;
}
a:hover {
    color : #CECECE;
    text-decoration : none;
}
.markdown {
    display: flex;
    flex-direction: column;
}
.mark_tool {
    display: flex;
    flex-direction: row;
}
.mark_tool div {
    margin-left: 20px;
}
.mark_edit {
    border: 1px solid #D0C9CE;
}
