li {
    list-style-type: none;
}
a {
    color :#000000;
    text-decoration : none;
}
#algo_page {
    border:1px solid #EF0B0B;
    width: 100%;
    height: 100%;
}

a:hover {
    color : #CECECE;
    text-decoration : none;
}
.nav_top {
    margin :  10px 10px 10px 10px;
    border:1px solid #000;
}
.nav_top div {
    display: block;
    height: auto;
    padding-bottom: 0;
    overflow: visible;
}
.ul_top li {
    padding : 0px 10px 10px 50px;
    margin :  0px 10px 10px 50px;
    float : left;
    list-style-type: none;
}
.ul_top li a {
    color :#000000;
    text-decoration : none;
}
.ul_top li a:hover{
    color : #CECECE;
    text-decoration : none;
}
.ul_lg {
    margin-left : 80%;
}
.ul_lg li {
    list-style-type: none;
}
.ul_lg li a{
    color : #000000;
    text-decoration : none;
}
.ul_lg li  a:hover{
    color : #CECECE;
    text-decoration : none;
}

.hr_top {
    width : 100%;
    margin : 5px 0 0 5px;
}

.q_title {
    border:1px solid #D965AD;
}
.div_question{
    border:1px solid #09FD4B;
}

.q_sub{
    height: 50px;
    border:1px solid #F95D02;
}

.q_sub li {
    float: left;
    margin-left: 30px;
    border:1px solid #0BBCB0;
}

.q_body {
    border:2px solid #E6E902;
    display: flex;
}
.q_content {
    width: 50%;
    border: 1px solid #10823F;  
}
.q_con {
    font-weight: bold;
    color: #6B0808;
}
.q_c {
    background-color: #E9EEEA;
}

.q_describe {
    width: 50%;
    border:4px solid #FAEE08;
}
.q_describe_son {
    margin-left: 60%;
    flex-direction: column;
}
.q_describe_top {
    border:1px solid #15689F;
}
.t_describe {
    border:1px solid #B84078;
}
.lable {
    border:1px solid #3630D4;
}

.q_code {
    font-size: large;
    background-color: #F4EFEF;
}
.q_td4_s {
    width : 50px;
    color : #34E521;
}
.q_td4_m {
    width : 50px;
    color : #ECAE49;
}
.q_td4_h {
    width : 50px;
    color : #F61F02;
}

.div_code {
    border:1px solid #1C09FD;
    display: flex;
    flex-direction: column;
}
.code_tool_bar {
    border: 6px solid #F6F029;
    padding-right: 4%;
    display: flex;
    justify-content : flex-end;
}
.code_edit {
    border: 1px solid #F46901;
}
.code_btn {
    border: 1px solid #2EE811;
    display: flex;
    justify-content : flex-end;
}
.div_code_status {
    border: 1px solid #06E7EE;
    display: flex;
    flex-direction: column;
}
.text_status {
    border: 1px solid #EE06E2;
}
.status_body {
    border: 1px solid #12E23B;
}
.status_cin {
    border: 1px solid #122EE2;
}
.cin {
    border: 1px solid #C43E30;
}

.cout {
    border: 1px solid #30C455;
}


.recore_table {
    width: 100%;
    height: 100%;
    border: 4px solid #0DDCF4;
}
.recore_tr {
    width: 100%;
    height: 30px;
}
.recore_tr td{
    width: 20%
}